<title>POS - Dashboard</title>

<%- include('partials/header.ejs') %>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <form action="" id="dateForm">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Date Settings</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="">
                            <label>Start Date</label>
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="date" id="startDate" name="startDate"
                                value="">
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset>
                            <label>End Date</label>
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="date" id="endDate" name="endDate"
                                value="">
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" id="query" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50"
                        style="display: flex; align-items: center; justify-content: center;">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Query</span>
                </button>
                <a href="javascript:history.back()" class="btn btn-warning btn-icon-split">
                    <span class="icon text-white-50"
                        style="display: flex; align-items: center; justify-content: center;">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </span>
                    <span class="text">Reset</span>
                </a>
            </div>
        </div>
    </form>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="myAreaChart" width="777" height="320"
                            style="display: block; width: 777px; height: 320px;"
                            class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="myPieChart" width="356" height="245"
                            style="display: block; width: 356px; height: 245px;"
                            class="chartjs-render-monitor"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Earnings Monthly Report</h6>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="dataTables_length">
                        <label class="d-flex"> Show
                            <form method="get" id="">
                                <select name="display" aria-controls="dataTable" id="display"
                                    class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="3">3</option>
                                    <option value="10">10</option>
                                    <option value="100">100</option>
                                </select>
                                <input type="hidden" name="page" value="1">
                                <input type="hidden" name="sortBy" value="invoice">
                                <input type="hidden" name="sortMode" value="asc">
                                <input type="hidden" name="searchValue" value="">
                            </form>entries
                        </label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="dataTables_filter">
                        <label class="d-flex">Search:
                            <input type="search" class="form-control form-control-sm" placeholder=""
                                aria-controls="dataTable" id="search" name="searchValue" value="">
                        </label>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid"
                            aria-describedby="dataTable_info">
                            <thead>
                                <tr>
                                    <th>
                                        <a class="text-gray-800 text-decoration-none"
                                            href="/sales?page=1&amp;sortBy=invoice&amp;sortMode=desc&amp;searchValue=&amp;display=">
                                            <i class="fas fa-sort-up"></i>
                                            Monthly
                                        </a>
                                    </th>
                                    <th>
                                        <a class="text-gray-800 text-decoration-none"
                                            href="/sales?page=1&amp;sortBy=time&amp;sortMode=desc&amp;searchValue=&amp;display=">
                                            <i class="fas fa-sort"></i>
                                            Expense
                                        </a>
                                    </th>
                                    <th>
                                        <a class="text-gray-800 text-decoration-none"
                                            href="/sales?page=1&amp;sortBy=totalsum&amp;sortMode=desc&amp;searchValue=&amp;display=">
                                            <i class="fas fa-sort"></i>
                                            Revenue
                                        </a>
                                    </th>
                                    <th>
                                        <a class="text-gray-800 text-decoration-none"
                                            href="/sales?page=1&amp;sortBy=pay&amp;sortMode=desc&amp;searchValue=&amp;display=">
                                            <i class="fas fa-sort"></i>
                                            Earning
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1" class="text-gray-800">Total</th>
                                    <th rowspan="1" colspan="1" class="text-gray-800">Jumlah</th>
                                    <th rowspan="1" colspan="1" class="text-gray-800">Jumlah</th>
                                    <th rowspan="1" colspan="1" class="text-gray-800">Jumlah</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                            Showing 1 to 3 of 3
                            entries
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers text-right" id="dataTable_paginate">
                            <ul class="pagination justify-content-end" id="pagination">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <script>
        moment.locale("id");
        const formatter = IDRupiah()

        var params = {
            page: 1,
            startDate: null,
            endDate: null,
        }

        const readandPutData = () => {
            $.ajax({
                type: 'PUT',
                url: '/api',
                data: params,
                success: function (response) {
                    console.log(response)
                    updateDataEarnings(response)
                    pagination(response.page, response.pages)
                    test(response)
                }
            });
        }

        const updateDataEarnings = (response) => {
            let html = ''
            response.rows.forEach(item => {
                html += `
                <tr>
                    <td>
                        ${item.month}
                    </td>
                    <td id="time0">
                        ${formatter.format(item.expense)}
                    </td>
                    <td>
                        ${formatter.format(item.revenue)}
                    </td>
                    <td>
                        ${formatter.format(item.revenue - item.expense)}
                    </td>
                </tr>
                `
            });
            $('table tbody').html(html)
        }

        const pagination = (page, pages) => {
            let pagination = `
                    <li class="page-item" id="prev" datapage="${parseInt(page) - 1}">
                        <button class="page-link prev-next"${page == 1 ? ' disabled' : ''}>
                        Previous
                        </button>
                    </li>
                    `
            for (let i = 1; i <= pages; i++) {
                pagination += `
                        <li class="page-item${page == i ? ' active' : ''}" datapage="${i}">
                            <button class="page-link">
                            ${i}
                            </button>
                        </li>    
                        `
            }
            pagination += `
                    <li class="page-item" id="next" datapage="${parseInt(page) + 1}">
                        <button class="page-link prev-next"${page == pages ? ' disabled' : ''}>
                        Next
                        </button>
                    </li>
                    `
            const paginationNumbers = $('#pagination')
            paginationNumbers.html(pagination)
        }

        $(document).ready(function () {
            $('#dateForm').on('submit', function (e) {
                e.preventDefault(); // menghentikan form dari submit ke halaman baru

                const startDate = $('#startDate').val();
                const endDate = $('#endDate').val();
                params = { ...params, startDate, endDate }
                readandPutData()
            });

            $('#pagination').on('click', '.page-item', function () {
                const startDate = $('#startDate').val();
                const endDate = $('#endDate').val();
                const page = $(this).attr('datapage')
                params = { ...params, startDate, endDate, page }

                readandPutData()
            })

            $('#display').change(function () {
                const display = $(this).val();
                params = { ...params, display, page: 1 }
                readandPutData()
            });

            $('#search').keyup(function () {

                const searchValue = $('#search').val()
                params = { ...params, searchValue }
                readandPutData()
            })
        });
    </script>

    <%- include('partials/footer.ejs') %>