<title>POS - Users</title>

<%- include('partials/header.ejs') %>
    
    <!-- Page Heading -->
    <div class="align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-1 text-gray-800">Users</h1>
        <p class="text-gray-800">This is data of Users</p>
    </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

<%- include('partials/footer.ejs') %>